/* CSS BY Savannah Albazi */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */

body {
    font-family: 'Playfair Display', serif;
    background: var(--soft-white);
    color: var(--dark-charcoal);
    line-height: 1.5;
}

main {
    padding: 15px 15px 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 30px 15px;
    background-color: var(--midnight-blue);
    color: var(--soft-white);
}

header img {
    width: 120px;
    height: auto; 
    margin-bottom: 10px;
}

header h1 { /* field & feast title */
    font-size: 3.2rem;
    font-weight: 700;
}

header p { /* harvested with care... */
    font-style: italic;
    font-size: 1rem;
}

/* NAVIGATION */

nav {
    background: var(--champagne-gold);
    padding: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
}

nav a {
    color: var(--dark-charcoal);
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* HEADINGS */

h2 {
    color: var(--midnight-blue);
    text-align: left;
    font-size: 2rem;
    margin: 40px 0 2px 0; 
    padding-left: 10px;
}

h3 { /* our offerings titles */
    margin-bottom: 10px;
}

/* ABOUT */

#about article {
    background: var(--soft-white);
    padding: 15px;
    border-radius: 10px; 
}

/* OFFERINGS */

#offerings {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

#offerings article {
    background: var(--olive-green);
    color: var(--soft-white);
    padding: 15px;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 3px 5px gray;
}

#offerings h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

#offerings ul {
    margin-top: 10px;
    padding-left: 20px;
    list-style: disc;
}

#offerings li {
    margin-bottom: 5px;
}

#offerings,
#gallery {
    margin-top: 25px;
    padding-top: 20px;
    border-top: 2px solid var(--champagne-gold);
}

#gallery {
    border-bottom: 2px solid var(--champagne-gold);
    padding-bottom: 18px;
}

#offerings h2,
#gallery h2 {
    margin: 0 0 12px 0;
}

/* CONTACTS */

#contact {
    background: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 48px 20px 80px 20px;
    margin-top: 20px;
}

#contact p {
    margin-bottom: 8px;
}

#contact a {
    color: var(--champagne-gold);
    text-decoration: none;
    font-weight: bold;
}

/* GALLERY */ 

.gallery-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.gallery-grid figure {
    background: var(--soft-white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px gray;
    margin: 0;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    display:block;
}

.gallery-grid figcaption {
    text-align: center;
    font-style: italic;
    padding: 12px 10px;
    font-size: 1rem;
}
.gallery-link {
    background: var(--olive-green);
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 20px 0 0 0;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
}

/* SOCIALS */

.social-links {
    margin-top: 40px;
}

nav a:hover {
    background: var(--midnight-blue);
    color: var(--soft-white);
}

/* BREAKPOINTS */

